<section class="hero is-fullheight">
	<div class="is-lazy is-bg loaded"></div>
	<div class="hero-body">
		<div class="container">
			<div class="columns">
				<div class="column is-three-fifths">
					<h1 class="title has-text-white animated delay-1s fadeInDown">Ekickx</h1>
					<p class="subtitle has-text-light not-p animated delay-1s fadeInDown">This is my personal blog. I make it to document what I have changed to my GNU+Linux desktop so if I get problems to my desktop, I can always go to this blog. And another purpose of this blog is to express my hobby about Japannese pop culture</p>
				</div>
			</div>
			<div class="buttons animated delay-2s fadeInDown">
				<a href="#about" class="button is-size-5 is-link is-outlined hvr-shutter-out-horizontal">About Me</a>
				<a href="#recent" class="button is-size-5 is-link is-outlined hvr-shutter-out-horizontal">Recent Articles</a>
			</div>
		</div>
	</div>
</section>

<section class="section" id="about" style="background-color: #ECF4FA">
	<div class="container">
		<h2 class="title">About Me</h2>
		<div class="columns">
			<div class="column is-2"><figure class="image is-128x128"><img src="/img/logo-big.png" alt="" class="is-rounded"></figure> </div>
			<div class="column">
				<p class="not-p">Hello there, I am an Open Source enthusiast and Debian user. I also do code. Learning python for now. <br>
				Fyi, I'm a fan of iDOLM@ster franchise even though I also like Bushiroad's product like Bang Dream. <br> My other hobbies beside tweaking my desktop are listening animusic and playing games. <br>
				Btw, this blog theme is hugely inspired by <a href="https://okitavera.me">this blog</a>. Chek it out. It's a cool blog.  
				</p>
			</div>
		</div>
	</div>
</section>

<section class="section" id="recent" style="background-color: #fdfd">
	<div class="container">
		<h2 class="title">Recent Articles</h2>
		<div class="columns is-centered">
			<% site.posts.sort('date', -1).limit(3).forEach(function(post){ %>
				<%- partial('_partial/article_excerpt', {item: post}) %>
			<% }); %>
		</div>
		<div class="buttons is-centered" style="margin-top: 1.7em">
			<a href="/all" class="button is-link hvr-round-corners">All Articles</a>
		</div>
	</div>
</section>