<%
    var pageTitle = config.title;
    if (page.category) pageTitle = titlecase(page.category);
    if (page.tag) pageTitle = "Tag: "+titlecase(page.tag);
    if (page.archive) pageTitle = "All Posts";
    if (is_post()) pageTitle = page.title;
%>
<!DOCTYPE html>
<html>
	<head>
		<%- partial('_partial/head') %>
		<title><%= pageTitle %></title>
	</head>
	<body>
		<%- body %>
		<%- partial('_partial/footer') %>
		<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script>
	</body>
</html>