<footer class="footer has-text-centered has-text-info" style="background-color: #1E2039">
	<p>Made with <span class="icon"><i class="fas fa-heart"></i></span> <br>
	   Powered by <a href="https://bulma.io/" class="hvr-grow">Bulma</a>, <a href="https://hexo.io/" class="hvr-grow">Hexo</a> and <a href="https://www.netlify.com/" class="hvr-grow">Netlify</a><br>&copy 2018 Ghani Rafif</p>
</footer>